package postgresrepo

import "github.com/ALexfonSchneider/goplatform/pkg/postgres"

// Repository is a secondary adapter that implements domain repository
// interfaces using PostgreSQL.
type Repository struct {
	db *postgres.DB
}

// New creates a new PostgreSQL Repository.
func New(db *postgres.DB) *Repository {
	return &Repository{db: db}
}
