syntax = "proto3";

package {{.Name | snake}}.v1;

import "buf/validate/validate.proto";

service {{.Name | serviceName}}Service {
  rpc Get{{.Name | serviceName}}(Get{{.Name | serviceName}}Request) returns (Get{{.Name | serviceName}}Response);
}

message Get{{.Name | serviceName}}Request {
  string id = 1 [(buf.validate.field).string.min_len = 1];
}

message Get{{.Name | serviceName}}Response {
  string id = 1;
  string name = 2;
}
